# Ignore environment variable files containing secrets
**/.env

# Ignore the WireGuard configuration folder containing private keys
**/wg/*
!**/wg/*.example
!**/wg/.gitkeep

# Ignore Python cache
**/cache/
__pycache__/